/apt3040/NetBeansProjects/gratuitysyguistest/gratuitysyguistest/build/
/apt3040/NetBeansProjects/gratuitysyguistest/gratuitysyguistest/nbproject/private/
/apt3040/NetBeansProjects/calculatorGUI/nbproject/private/