/apt3040/NetBeansProjects/gratuitysyguistest/gratuitysyguistest/build/
/apt3040/NetBeansProjects/gratuitysyguistest/gratuitysyguistest/nbproject/private/
/apt3040/NetBeansProjects/calculatorGUI/nbproject/private/
/apt3040/NetBeansProjects/calculatorGUI/build/
/apt3040/NetBeansProjects/simpleCalculatorGUI/nbproject/private/
/apt3040/NetBeansProjects/Labs/build/