<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://imherefunctions20231129111001.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1bdd933e-ee22-4734-96c6-5dffc1cdd952/resourcegroups/ImHereFunctions20231129111001ResourceGroup/providers/Microsoft.Web/sites/ImHereFunctions20231129111001</ResourceId>
    <UserName>$ImHereFunctions20231129111001</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://imherefunctions20231129111001.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>