html,
body {
    height: 100%;
}

#banner {
    background-color: blue;
    color: white;
    padding-top: 5%;
    padding-left: 10%;
    height: 30%;
}

#buttons {
    margin-top: 1em;
    padding-left: 1em;
}