{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>PeerAI</title>
    <!-- base:css -->
    <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/base/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css'%}" />
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css'%}" />
    <link rel="stylesheet" href="{% static 'vendors/jquery-bar-rating/fontawesome-stars-o.css'%}" />
    <link rel="stylesheet" href="{% static 'vendors/jquery-bar-rating/fontawesome-stars.css'%}" />
    <link rel="stylesheet" href="{% static 'vendors/datatables/datatables.min.css'%}" />
    <link rel="stylesheet" href="{% static 'vendors/select2/select2.min.css'%}" />

    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css'%}" />
    {% block pagelevelcss %}
    {% endblock %}
    <!-- endinject -->
    <link rel="shortcut icon" href="images/favicon.png" />
    <style>
        .navbar-toggler .icon-menu {
            color: #EC37FC;
        }
    </style>
</head>

<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" href="/dashboard" id="brand-full" style="color: white;">PeerAI</a>
                <a class="navbar-brand brand-logo-mini" href="/dashboard" id="brand-mini" style="color: white;">PA</a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="icon-menu"></span>
                </button>

                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown d-flex mr-4">
                        <!-- Logout Button -->
                        <button class="btn mt-3 dropdown-item preview-item"
                            style="background-color: #EC37FC; color: white; border: none; padding: 10px;"
                            onclick="document.getElementById('logout-form').submit();">
                            Logout
                        </button>

                        <!-- Logout Form -->
                        <form id="logout-form" action="{% url 'apps.ui:logout' %}" method="POST" style="display: none;">
                            {% csrf_token %}
                        </form>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                    <span class="icon-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            {% block menu %}
            {% endblock %}
            <!-- partial -->
            <div class="main-panel">
                {% block content %}
                {% endblock %}

                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">
                            Copyright © {% now "Y" %}
                        </span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <!-- base:js -->
    <script src="{% static 'vendors/base/vendor.bundle.base.js'%}"></script>
    <script src="{% static 'vendors/datatables/datatables.min.js'%}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="{% static 'assets/js/off-canvas.js'%}"></script>
    <script src="{% static 'assets/js/hoverable-collapse.js'%}"></script>
    <script src="{% static 'assets/js/template.js'%}"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'vendors/chart.js/Chart.min.js'%}"></script>
    <script src="{% static 'vendors/select2/select2.min.js'%}"></script>
    <script src="{% static 'vendors/jquery-bar-rating/jquery.barrating.min.js'%}"></script>
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="{% static 'assets/js/dashboard.js'%}"></script>
    <!-- End custom js for this page-->
    <!-- Custom js for this page-->
    <script src="{% static 'assets/js/datatables.js'%}"></script>
    <script src="{% static 'assets/js/select2.js'%}"></script>


    <!-- End custom js for this page-->
    {% block pageleveljs %}
    {% endblock %}
</body>

</html>