* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("assets/plain-background-ui.jpg");
    background-repeat: no-repeat;
    color: #0a192f;
}

h1 {
    text-align: center;
    padding: 1%;
}

p {
    padding: 1%;
}

marquee {
    padding: 2%;
    font-weight: bold;
}

ul li {
    margin-left: 4%;
    padding: 1%;
}