<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Portal - Hazbin Hotel</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <nav class="navbar navbar-light hb-bg-white hb-home-nav">
        <div class="hb-nav-padding d-flex align-items-center font-bold w-100">
            <span class="navbar-brand mb-0 h4 fs-2">Hazbin Hotel</span>
        </div>
    </nav>

    <div class="container mt-5 hb-hero">
        <div class="">
            <h1 class="display-4">Welcome to the Employee Portal!</h1>
            <p class="lead">Manage your tasks efficiently and stay updated with the latest information.</p>
            <hr class="my-4">
            <p>Use the navigation above to login or sign up and access your dashboard.</p>
            <a class="btn hb-btn-primary" href="/login" role="button">Get Started</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>