#header{
    height: 5rem;
    background-color: blue;
    width: 100%;
}

#left {
    width: 20%;
    background-color: green;
    height: 30rem;
    float: left;
}

#center {
    width: 60%;
    background-color: aqua;
    height: 30rem;
    float: left;
}

#right {
    width: 20%;
    background-color: brown;
    height: 30rem;
    float: left;
}

#footer {
    height: 5rem;
    background-color: yellow;
    width: 100%;
    clear: both;
}