<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel='stylesheet' href='/css/style.css' />
  <style>
    body {
      margin-top: -28px;
    }
  </style>
</head>

<body onload="fetchSales()">
  {{{body}}}
</body>

</html>