h1 {
    color: blue;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    background-color: yellow;
    color: blue;
}

a:visited {
    color: purple;
}

.dark {
    font-weight: bold;
}