<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
</head>
<body>
    <h1>Hello There</h1>
    <p>Please select your course below</p>
    <form action='/courses' method="POST">
        <label for="course">Choose a course:</label>
        <select name="course" id="course">
            <option value="apt">APT</option>
            <option value="ist">IST</option>
        </select>
        <button type="submit">Submit</button>
</body>
</html>