.content {
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin-left: 20px;
    margin-right: 20px;
    border: solid #0a192f;
    background-color: hotpink;
    border-radius: 30px;
    padding: 2%;
}

body {
    background-image: url("assets/background-image.jpg");
    background-repeat: no-repeat;
    color: #0a192f;
}

h1 {
    text-align: center;
    padding: 1%;
}

p {
    padding: 1%;
}

marquee {
    padding: 2%;
    font-weight: bold;
}

ul li {
    margin-left: 4%;
    padding: 1%;
}

