*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
background-image: url(assets/bicycle-in-the-woods.jpg);
background-repeat: no-repeat;
background-size: cover;
}

h1 {
    max-width: 600px;
    margin: auto;
    text-align: justify;
}

.links a{
    display: none;
    margin: 10px;
}

button:hover .links a{
    display: block;
}
